abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue','Yu Gothic',YuGothic,Verdana,Meiryo,'M+ 1p',sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2;
  letter-spacing: .75px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.preload {
  display: none;
}

i {
  font-style: normal;
}

.l-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.u-db {
  display: block;
}

.u-db-pc {
  display: block;
}

.u-db-sp {
  display: none;
}

.u-dib {
  display: inline-block;
}

.u-dib-pc {
  display: inline-block;
}

.u-dib-sp {
  display: none;
}

.u-db-di {
  display: block;
}

.u-dib-di {
  display: inline;
}

.u-di {
  display: inline;
}

.u-di-pc {
  display: inline;
}

.u-di-sp {
  display: none;
}

.u-df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-df-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-df-sp {
  display: none;
}

.u-dif {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.u-dif-pc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.u-dif-sp {
  display: none;
}

@media (max-width:768px) {
  .l-container {
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
  }

  .u-db-pc {
    display: none;
  }

  .u-db-sp {
    display: block;
  }

  .u-dib-pc {
    display: none;
  }

  .u-dib-sp {
    display: inline-block;
  }

  .u-db-di {
    display: inline;
  }

  .u-dib-di {
    display: inline;
  }

  .u-di-pc {
    display: none;
  }

  .u-di-sp {
    display: inline;
  }

  .u-df-pc {
    display: none;
  }

  .u-df-sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .u-dif-pc {
    display: none;
  }

  .u-dif-sp {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}