<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title gulp_sass_pug_flocss-template-min
    link(rel="stylesheet", href="./assets/css/main.css")
  body
    h1.l-tac.u-mt50-20 gulp_sass_pug_flocss-template-min
  
  script(src="./assets/js/jquery-2.2.4.min.js")
  script(src="./assets/js/main.js")