<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title gulp_sass_pug_flocss-template-min
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(property="og:title" content="")
    meta(property="og:type" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")
    meta(property="og:description" content="")
    link(rel="icon" type="image/png" href="./assets/images/favicon.ico")
    link(rel="stylesheet", href="./assets/css/main.css")

  body
    h1 gulp_sass_pug_flocss-template-min


    script(src="./assets/js/jquery-2.2.4.min.js")
    script(src="./assets/js/main.js")

    . 
      <!-- Global site tag (gtag.js) - Google Analytics -->